In [74]:
# we are importing the necessary libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
from matplotlib import pyplot as plt 
import seaborn as sns
import os

In [75]:
path=os.path.join('Data_Sets','used_cars.csv')
df0=pd.read_csv(path)
df0.head(1)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"

In [76]:
df=pd.read_csv(r'D:\Programming\python\Data_Analysis\Data_Sets\used_cars.csv')

In [77]:
df.head(2)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [79]:
df['milage']=df['milage'].str.replace('mi.','').str.replace(',','').astype('float')

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   float64
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 376.0+ KB

In [81]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,9835.0,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [82]:
df.describe()

        model_year         milage
count  4009.000000    4009.000000
mean   2015.515590   64717.551010
std       6.104816   52296.599459
min    1974.000000     100.000000
25%    2012.000000   23044.000000
50%    2017.000000   52775.000000
75%    2020.000000   94100.000000
max    2024.000000  405000.000000

In [83]:
df.sample(3)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
1030,Mercedes-Benz,G-Class G 550 4MATIC,2021,76100.0,Gasoline,416.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes,"$130,000"
2207,Pontiac,Solstice GXP,2009,122348.0,Gasoline,260.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Red,Black,At least 1 accident or damage reported,Yes,"$10,000"
2839,Mercedes-Benz,G 550 4x4 Squared Base,2018,14381.0,Gasoline,4.0L V8 32V GDI DOHC Twin Turbo,7-Speed Automatic,Designo Magno Matte,Black,None reported,NaN,"$204,900"

In [84]:
df.shape

(4009, 12)

In [85]:
df['price']=df['price'].str.replace('$','').str.replace(',','').astype('float')

In [86]:
df.head(3)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0

In [87]:
pd.set_option('display.max_colwidth',None)
df['engine'].iloc[0:2]

0    300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability
1                                    3.8L V6 24V GDI DOHC
Name: engine, dtype: object

In [88]:
df['Horsepower']=df['engine'].str.extract(r'(\d+\.\d+HP)|\d+HP')

In [89]:
df.head(4)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,Horsepower
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,300.0HP
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,NaN
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,NaN
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,7-Speed A/T,Black,Black,None reported,Yes,15500.0,354.0HP

In [90]:
df['Engine_Capacity']=df['engine'].str.extract(r'(\d+\.\d+L|\d+L|\d+\.\d+\s*Liter|\d+\s*Liter)')

In [91]:
df.head(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,Horsepower,Engine_Capacity
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,300.0HP,3.7L
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,NaN,3.8L
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,NaN,3.5 Liter
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,7-Speed A/T,Black,Black,None reported,Yes,15500.0,354.0HP,3.5L
4,Audi,Q3 45 S line Premium Plus,2021,9835.0,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,NaN,2.0L

In [92]:
df['accident_occured']=df['accident'].apply(lambda x: "NO" if x=="None reported" else "YES")

In [93]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,Horsepower,Engine_Capacity,accident_occured
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,10300.0,300.0HP,3.7L,YES
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,NaN,3.8L,YES
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,NaN,3.5 Liter,NO
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,7-Speed A/T,Black,Black,None reported,Yes,15500.0,354.0HP,3.5L,NO
4,Audi,Q3 45 S line Premium Plus,2021,9835.0,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,NaN,2.0L,NO

In [94]:
df['transmission']=df['transmission'].str.contains('Auto',case=False).map({True:"Automatic",False:"Manual"})

In [95]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,Horsepower,Engine_Capacity,accident_occured
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,Manual,Black,Black,At least 1 accident or damage reported,Yes,10300.0,300.0HP,3.7L,YES
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,NaN,3.8L,YES
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,NaN,3.5 Liter,NO
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,Manual,Black,Black,None reported,Yes,15500.0,354.0HP,3.5L,NO
4,Audi,Q3 45 S line Premium Plus,2021,9835.0,Gasoline,2.0L I4 16V GDI DOHC Turbo,Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,NaN,2.0L,NO

In [96]:
df['Engine_Capacity']=df['Engine_Capacity'].str.replace('Liter','').str.replace('L','').astype('float')

In [97]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,Horsepower,Engine_Capacity,accident_occured
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,Manual,Black,Black,At least 1 accident or damage reported,Yes,10300.0,300.0HP,3.7,YES
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,NaN,3.8,YES
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,NaN,3.5,NO
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,Manual,Black,Black,None reported,Yes,15500.0,354.0HP,3.5,NO
4,Audi,Q3 45 S line Premium Plus,2021,9835.0,Gasoline,2.0L I4 16V GDI DOHC Turbo,Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,NaN,2.0,NO

In [98]:
df['Horsepower']=df['Horsepower'].str.replace('HP','').astype('float')

In [99]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,Horsepower,Engine_Capacity,accident_occured
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,Manual,Black,Black,At least 1 accident or damage reported,Yes,10300.0,300.0,3.7,YES
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,NaN,3.8,YES
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,NaN,3.5,NO
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,Manual,Black,Black,None reported,Yes,15500.0,354.0,3.5,NO
4,Audi,Q3 45 S line Premium Plus,2021,9835.0,Gasoline,2.0L I4 16V GDI DOHC Turbo,Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,NaN,2.0,NO

In [100]:
df.rename(columns={'ext_col':'External_column'},inplace=True)

In [101]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,External_column,int_col,accident,clean_title,price,Horsepower,Engine_Capacity,accident_occured
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,Manual,Black,Black,At least 1 accident or damage reported,Yes,10300.0,300.0,3.7,YES
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,NaN,3.8,YES
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,NaN,3.5,NO
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,Manual,Black,Black,None reported,Yes,15500.0,354.0,3.5,NO
4,Audi,Q3 45 S line Premium Plus,2021,9835.0,Gasoline,2.0L I4 16V GDI DOHC Turbo,Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,NaN,2.0,NO

In [102]:
df.rename(columns={'int_col':'Internal_column'},inplace=True)

In [103]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,External_column,Internal_column,accident,clean_title,price,Horsepower,Engine_Capacity,accident_occured
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability,Manual,Black,Black,At least 1 accident or damage reported,Yes,10300.0,300.0,3.7,YES
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,3.8L V6 24V GDI DOHC,Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,38005.0,NaN,3.8,YES
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,54598.0,NaN,3.5,NO
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric Hybrid,Manual,Black,Black,None reported,Yes,15500.0,354.0,3.5,NO
4,Audi,Q3 45 S line Premium Plus,2021,9835.0,Gasoline,2.0L I4 16V GDI DOHC Turbo,Automatic,Glacier White Metallic,Black,None reported,NaN,34999.0,NaN,2.0,NO

In [104]:
useless=['engine','accident']
df.drop(columns=useless,axis=1,inplace=True)

In [105]:
df.head()

,brand,model,model_year,milage,fuel_type,transmission,External_column,Internal_column,clean_title,price,Horsepower,Engine_Capacity,accident_occured
0,Ford,Utility Police Interceptor Base,2013,51000.0,E85 Flex Fuel,Manual,Black,Black,Yes,10300.0,300.0,3.7,YES
1,Hyundai,Palisade SEL,2021,34742.0,Gasoline,Automatic,Moonlight Cloud,Gray,Yes,38005.0,NaN,3.8,YES
2,Lexus,RX 350 RX 350,2022,22372.0,Gasoline,Automatic,Blue,Black,NaN,54598.0,NaN,3.5,NO
3,INFINITI,Q50 Hybrid Sport,2015,88900.0,Hybrid,Manual,Black,Black,Yes,15500.0,354.0,3.5,NO
4,Audi,Q3 45 S line Premium Plus,2021,9835.0,Gasoline,Automatic,Glacier White Metallic,Black,NaN,34999.0,NaN,2.0,NO

In [106]:
df.isnull().sum()

brand                 0
model                 0
model_year            0
milage                0
fuel_type           170
transmission          0
External_column       0
Internal_column       0
clean_title         596
price                 0
Horsepower          810
Engine_Capacity     219
accident_occured      0
dtype: int64

In [107]:
missing_info={}
for col in df.columns:
    if df[col].isnull().sum()>0:
        missing_count=(df[col].isnull().sum()/len(df))*100
        missing_info[col]=round(missing_count,2)

print('The colums with missing percentage are:')
for col,perc in missing_info.items():
    print(f'{col}: {perc}%')

The colums with missing percentage are:
fuel_type: 4.24%
clean_title: 14.87%
Horsepower: 20.2%
Engine_Capacity: 5.46%

In [108]:
numerical_columns=df.select_dtypes(include=['number','int64','int32','float64','float32']).columns

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             4009 non-null   object
 1   model             4009 non-null   object
 2   model_year        4009 non-null   int64
 3   milage            4009 non-null   float64
 4   fuel_type         3839 non-null   object
 5   transmission      4009 non-null   object
 6   External_column   4009 non-null   object
 7   Internal_column   4009 non-null   object
 8   clean_title       3413 non-null   object
 9   price             4009 non-null   float64
 10  Horsepower        3199 non-null   float64
 11  Engine_Capacity   3790 non-null   float64
 12  accident_occured  4009 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 407.3+ KB

In [110]:
df[numerical_columns].head()

   model_year   milage    price  Horsepower  Engine_Capacity
0        2013  51000.0  10300.0       300.0              3.7
1        2021  34742.0  38005.0         NaN              3.8
2        2022  22372.0  54598.0         NaN              3.5
3        2015  88900.0  15500.0       354.0              3.5
4        2021   9835.0  34999.0         NaN              2.0